services:
  wintercode-ui:
    container_name: wintercode-ui
    build:
      context: ./main
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - ../.env
    ports:
      - "3001:3000"    
    networks:
      - frostNet

networks:
  frostNet:
    # external: true
# correct deployment
