services:
  wintercode-ui:
    container_name: wintercode-ui
    build:
      context: ./main
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - ../.env
    ports:
      - "3002:3000"    
    networks:
      - caddy-net

networks:
  caddy-net:
    driver: bridge
    attachable: true
